body{
font-family: Tahoma, Geneva, sans-serif;
background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%238b0000' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");}

header {
  background-color: rgba(223, 219, 229, 0.75) !important;
border-radius: 0.5em !important;
  border: 0.1em solid #dfdbe5 !important;
}

table { 
  border-collapse: collapse; 
}

.review tr {
  border-bottom: 1pt solid grey;
  margin : 1em;
}

td {
  padding: 0.5em;
}

input:hover, a:hover, button:hover{
cursor: pointer;
}

.textbox a {
 background-color: indianred;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 0.25em;
  position: relative;
  text-decoration: none;
}

.textbox a:hover {
  background-color: darkred; 
  text-decoration: underline;
  cursor: pointer;
}

.textbox button {
  background-color: silver;
  box-shadow: 0 5px 0 gray;
  color: black;
  padding: 0.25em;
  position: relative;
  text-decoration: none;
}

.textbox button:hover {
  background-color: gray; 
  color: white;
  cursor: pointer;
}

.textbox {
  padding: 1em;
margin-top: 0.5em;
border-radius: 0.5em;
  border: 0.1em solid white;
background-color: #dfdbe5 !important;
}

.textboxNoButton{padding: 1em;
margin-top: 0.5em;
border-radius: 0.5em;
  border: 0.1em solid white;
background-color:  #dfdbe5 !important;
}

footer {
  padding: 1em;
margin-top: 0.5em;
  background-color: rgba(223, 219, 229, 0.75) !important;
border-radius: 0.5em;
  border: 0.1em solid white;
}

footer a {
  color: darkred;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline !important;
}


.logo{
margin-top: 0.5em;
margin-bottom: 0.5em;
max-height: 4em;
  width: auto;
  border-radius: 0.25em;
}

.logo2{
max-height: 5em;
  width: auto;
  border-radius: 0.25em;
}

.checked {
  color: orange;
}

.responsiveImg {
  width: 100%;
  max-width: 30em;
  height: auto;
display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputBox div {
  display:inline-block;
  text-align: left;
        width: 50%;  
        background-color: white !important;
        border: solid 1px grey !important;
        border-radius: 3px;
        padding: 5px;
}

.smallPics {
  width: 45%;
    border-radius: 0.25em;
}

.pics {
  width: 100%;
    border-radius: 0.25em;
}

.star form {
  width: 100px;
}

.star button {
  border: 0;
  background: transparent;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  float: right;
  color: black;
}

button:hover,
button:hover + button,
button:hover + button + button,
button:hover + button + button + button,
button:hover + button + button + button + button {
  color: white;
}

button:hover{
  color: black !important;
}

.form-elements {
  background-color: #eceaf0;
  border-radius: 0.5em;
  padding-bottom: 1em;
  border: 0.1em solid silver;
}

.form-elements input:focus, .form-elements textarea:focus {
      outline: none !important;
    border: 2px solid darkred;
    box-shadow: 0 0 10px silver;
}

.pure-group {
    border: none;
}

button {
   padding: 0.25em;
    margin: 0 auto;
}

aside a {
 background-color: indianred;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 0.25em;
  position: relative;
  text-decoration: none;
}

aside a:hover {
  background-color: darkred; 
  text-decoration: underline;
  cursor: pointer;
}

textarea {
  width: 50%;
}

.doNotHide div {
    display: block !important;
}

.hide div {
    display: none;
    background-color: #eceaf0;
      border-radius: 0.5em;
  padding: 1em;
  border: 0.1em solid silver;

}

.hide div:target {
    display: block;
}

.first, .second {
  &__image {
    width: 250px;
    float: left;
  }
  &__text {
    display: inline;
  }
}

.aName a:active {

}

.carousel {
max-width: 25%;
max-height: 100%;
float: left;
padding-right: 1em;
border-radius: 0.25em;
}

.carouselRight {
max-width: 25%;
max-height: 100%;
float: right;
padding-left: 1em;
border-radius: 0.25em;
}

.image-txt-container {
  height: auto;
  max-height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li.rightActive, 
  ul.topnav li,
  ul.topnav input {float: none;
  }
  ul.topnav li a {
    font-size: 1em;
  }
  a:not(.textbox) {
    font-size: 1em;}
    .aName a {
    word-wrap:break-word; line-height: 2.1em;
    }
  .logo {max-height: 3em;
  width: auto;}
  .logo2 {max-height: 3.75em;
  width: auto;}
  a {font-size: 0.5em;}
  .inputBox div {width: 75%;}
  .carousel, .carouselRight {
max-width: 50%;}
footer {
  font-size: 0.75em;
}
}

.reviewLogo {
  max-width: 75%;
  max-height: 25%;
}

.review {
   background-color: indianred;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 0.25em;
  position: relative;
  text-decoration: none; 
}

iframe {
      background-color: #eceaf0;
      width: 100%;
      height: 600px;
}

blockquote {
  padding: 20px;
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.lang{
  height: 1em;
}